@model BusShuttleDriver.Web.ViewModels.RouteDetailsViewModel

<h2>Route Details</h2>

<div>
    <h4>@Model.RouteName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Loop
        </dt>
        <dd class="col-sm-10">
            @Model.LoopName
        </dd>
        <dt class="col-sm-2">
            Stops
        </dt>
        <dd class="col-sm-10">
            <ul>
                @if (Model.Stops != null)
                {
                    @foreach (var stop in Model.Stops)
                    {
                        <li>@stop.Name (@stop.Latitude, @stop.Longitude)</li>
                    }
                }
            </ul>
        </dd>
    </dl>
    <a asp-action="Index" class="btn btn-default">Back to Dashboard</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Route</a>
</div>
