@model IEnumerable<BusShuttleDriver.Web.ViewModels.LoopViewModel>

@{
    ViewData["Title"] = "Loop Index";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var loop in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => loop.LoopName)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@loop.Id" class="btn btn-primary">Edit</a>
                        <form asp-action="Delete" asp-route-id="@loop.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No loops available.</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="@Url.Action("Create", "Loop")" class="btn btn-success">Add New Loop</a>
    <a asp-controller="Manager" asp-action="Dashboard" class="btn btn-primary" style="float:right">Back to Dashboard</a>
</div>
