@{
    ViewData["Title"] = "Manager Dashboard";
}

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Manager Actions</div>
        <div class="list-group list-group-flush">
            <a href="@Url.Action("Create","Bus")" class="list-group-item list-group-item-action bg-light">Manage Bus</a>
            <a href="@Url.Action("Index","Loop")" class="list-group-item list-group-item-action bg-light">Manage
                Loops</a>
            <a href="@Url.Action("Index","Stop")" class="list-group-item list-group-item-action bg-light">Manage
                Stops</a>
            <a href="@Url.Action("Index","Route")" class="list-group-item list-group-item-action bg-light">Manage
                Routes</a>
            <a href="@Url.Action("Create","Entry")" class="list-group-item list-group-item-action bg-light">Start
                Route</a>
            <a href="@Url.Action("Index","Report")" class="list-group-item list-group-item-action bg-light">View
                Reports</a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-4">Manager Dashboard</h1>
            <p>Select an action from the left to get started.</p>
        </div>
    </div>
</div>
