@using BusShuttleDriver.Web.ViewModels
@model IEnumerable<BusShuttleDriver.Web.ViewModels.DriverViewModel>

<h2>Drivers</h2>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var driver in Model)
        {
            <tr>
                <td>@driver.Firstname</td>
                <td>@driver.Lastname</td>
                <td>@driver.Email</td>
                <td>@driver.Role</td>
                <td>@(driver.IsActive ? "Active" : "Inactive")</td>
                <td>
                    @if (!driver.IsActive)
                    {
                        <form asp-action="ToggleActiveStatus" asp-controller="Manager" asp-route-id="@driver.Id" method="post">
                            <input type="submit" value="Activate" class="btn btn-primary" />
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Driver" asp-action="Create" class="btn btn-primary mt-2">Create Driver</a>
    <a href="@Url.Action("Dashboard", "Manager")" class="btn btn-primary mt-2" style="float:right">Back to Dashboard</a>
</div>
