@model IEnumerable<BusShuttleDriver.Web.ViewModels.EntryViewModel>

@{
    ViewData["Title"] = "Your Entries";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.Any())
{
    <p>No entries have been recorded yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Loop</th>
                <th>Stop</th>
                <th>Boarded</th>
                <th>Left Behind</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => entry.Timestamp)</td>
                    <td>@Html.DisplayFor(modelItem => entry.LoopName)</td>
                    <td>@Html.DisplayFor(modelItem => entry.SelectedStopId)</td>
                    <td>@Html.DisplayFor(modelItem => entry.StopName)</td>
                    <td>@Html.DisplayFor(modelItem => entry.Boarded)</td>
                    <td>@Html.DisplayFor(modelItem => entry.LeftBehind)</td>
                </tr>
            }

        </tbody>
    </table>
}

